<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <link rel="stylesheet" href="https://cdn.qateb.com/w3.css">
        <script src='app.js'></script>
    </head>
    <body>
        <div data-ng-app="app" data-ng-controller='ctrl'>
            <div id='amsgtoallhaters'>
              <h1 class='w3-padding-128 w3-{{bg}} w3-text-{{fg}} w3-center'>{{h1}}</h1>
              <div class='w3-center'>
                  <input placeholder='fourground' class='w3-animate-input' data-ng-model='fg' type='text'/>
                  <input placeholder='background' class='w3-animate-input' data-ng-model='bg' type='text'/>
              </div>
            </div>
            <h3 class='w3-padding-64 w3-center' data-ng-click='remove()'>{{remove_text}}</h3>
        </div>
    </body>
</html>
